.otherVids {
  h2 {
    padding: 0.5rem 0 0 1rem;
    font-size: 1.15rem;
    font-weight: 700;
  }
}
.vidsSlider {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  ul {
    white-space: nowrap;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      width: 150px;
      position: relative;
      padding-bottom: 12px;
      white-space: normal;
      vertical-align: top;

      a {
        p {
          padding: 0 5px;
          font-size: 0.9rem;
          width: 130px;
          line-height: 1.25rem;
        }

        .slideVidIcon {
          background-image: url(https://img.etimg.com/photo/61785481.cms);
          position: absolute;
          top: 33px;
          width: 35px;
          height: 35px;
          background-size: 100%;
          left: 50px;
        }
      }
    }
  }
}
