@import "../../styles/common.scss";

.title{
		margin: 20px 0 0 20px;
		font-size: 16px;
		h1{
			font-size: 18px;
			display: inline-block;
			vertical-align: baseline;
			margin-left: 5px;
		}
	}
	.noData{
	margin: 2em 0 4em 20px;
	font-size: 13px;
}