@import "../../styles/variables.scss";

.socialShare {
  margin: 1rem;
}

.shareText {
  font-weight: 600;
  margin: 15px 0;
}

.socialLinks {
  padding-bottom: 1rem;

  span {
    width: 32px;
    height: 32px;
    transform: scale(0.9, 0.9);
    display: inline-block;
    cursor: pointer;
    background-size: 393px 238px;

    &.wa {
      background-position: -79px -163px;
    }
    &.fb {
      background-position: -116px -163px;
    }
    &.twt {
      background-position: -154px -163px;
    }
    &.in {
      background-position: -116px -198px;
    }
    &.email {
      background-position: -41px -163px;
    }
    &.sms {
      background-position: -78px -198px;
    }
    &.bookmark {
      background-position: -41px -198px;
      float: right;
    }
    &.bookmarkAdded {
      background-position: -4px -198px;
    }
  }
}
