@import "../../styles/variables.scss";

.drawer {
  font-family: $Montserrat-font-family;
  transition: all 0.3s ease-out;
  position: fixed;
  z-index: 999;
  bottom: 45px;
  top: 0;
  width: 80%;
  height: 100%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
  background-color: #fff;
  font-size: 20px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  text-align: left;
  line-height: 40px;
  max-width: 1024px;
  margin: 0 auto;
  display: none;

  &.isOpen {
    display: block;
  }

  .menuWrap {
    padding: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      font-weight: 600;

      .rArr {
        background-position: -306px -66px;
        background-repeat: no-repeat;
        display: inline-block;
        height: 22px;
        width: 14px;
        margin-left: 10px;
        transform: scale(0.7);
        vertical-align: middle;
      }

      ul {
        li {
          font-weight: 400;
          font-size: 16px;
        }

        [data-more] {
          color: #ed1a3b;
          font-size: 12px;
          font-weight: 500;
          line-height: 50px;
          cursor: pointer;
          text-transform: uppercase;
        }

        .bold {
          font-weight: 600;
        }

        .rDown {
          background-position: -135px -40px;
          margin-top: 15px;
          height: 10px;
          width: 12px;
          float: right;
          margin-left: 10px;
        }

        .rUp {
          background-position: -135px -22px;
          margin-top: 15px;
          height: 7px;
          width: 12px;
          float: right;
        }

        .submenu {
          padding-left: 20px;
        }
      }

      &.oneDotBdr {
        border-bottom: 1px dotted #ccc;
      }
    }
  }
}

.isOpen {
  display: block;
}

.hidden {
  display: none;
}
