.noDatafound {
  margin: 20px 0 0 0;
  text-align: center;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.noDatafoundCat {
  margin: 20px;
  text-align: center;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
