.benefitHeading {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin: 50px 0 80px;
  position: relative;
  @media only screen and (max-width: 767px) {
    font-size: 20px;
  }
  &::after {
    content: "";
    height: 4px;
    width: 64px;
    background-color: #ed193b;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -15px;
  }
}
.benefitsContainer {
  padding: 10px 20px 100px;
  @media only screen and (max-width: 767px) {
    margin: 0 auto;
  }
  .heading {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 20px auto 60px;
    @media only screen and (max-width: 767px) {
      font-size: 28px;
      width: 300px;
      margin: 20px auto 30px;
    }
  }
  .benefitItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1280px;
    margin: 0 auto;
    .creativeBox {
      position: relative;
      margin-right: 50px;
      margin-left: 0;
      &.lhsBenefit {
        margin-left: 50px;
        margin-right: 0;
        &::before {
          background-image: url("https://img.etimg.com/photo/msid-109154907,quality-100/sprit-img.jpg");
          left: -225px;
        }
      }

      &::before {
        content: "";
        position: absolute;
        background-image: url("https://economictimes.indiatimes.com/photo/109154940.cms");
        background-size: 544px 425px;
        width: 544px;
        height: 425px;
        z-index: -1;
        right: -100px;
        top: -5px;
      }
      &.lastBenefit::before {
        background-image: url("https://img.etimg.com/photo/msid-107629211,quality-100/sprit-img.jpg");
        background-size: 347px 347px;
        width: 347px;
        height: 347px;
        z-index: -1;
        right: 60px;
        top: 0;
      }
    }
    .textBox {
      display: flex;
      grid-gap: 1rem;
      font-family: Montserrat;
      .title {
        margin: 20px 0 0;
        text-align: left;
        width: 410px;
        font-size: 30px;
        font-weight: 700;
      }
      .subText {
        font-size: 18px;
        font-weight: 400;
        max-width: 410px;
        margin: 10px 0;
      }
      .number {
        font-family: "Faustina";
        font-size: 120px;
        font-weight: 700;
        color: #ed1a3b;
        vertical-align: baseline;
      }
      .marketBadge {
        background-image: url("https://img.etimg.com/photo/msid-109155782.jpg");
        background-size: 180px 20px;
        width: 180px;
        height: 20px;
        display: inline-block;
      }
    }
  }
}

.benefitList {
  width: 100%;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  margin: 0;
  overflow: hidden;
  li {
    width: 100%;
    padding: 20px 36px 20px 16px;
    border-bottom: 1px solid #dcdcdc;
    background-color: #fff;
    position: relative;
    display: flex;
    font-family: "Montserrat";
    img {
      margin-right: 15px;
    }
    h4 {
      margin: 0;
    }
    .desc {
      color: #464646;
      margin-top: 8px;
      &::after {
        content: "";
        display: block;
        border-bottom: 3px solid #ed193b;
        border-right: 3px solid #ed193b;
        transform: rotate(-45deg);
        height: 8px;
        width: 8px;
        position: absolute;
        cursor: pointer;
        top: 40%;
        right: 20px;
        background-color: transparent;
      }
    }
  }
}

$commonSpritemWeb: url("https://img.etimg.com/photo/109362985.cms");
.sprite {
  background-image: $commonSpritemWeb;
  background-size: 1540px 1133px;
  background-repeat: no-repeat;
  display: inline-block;
}

.headingmWeb {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px 0 20px;
  .etprimelogo {
    @extend .sprite;
    background-position: -952px -492px;
    width: 161px;
    height: 27px;
  }
  p {
    font-weight: 400;
    font-size: 28px;
    margin: 6px;
  }
}
.benefitsContainermWeb {
  .textBox {
    border-bottom: 1px solid #cfcfcf;
    font-family: Montserrat;
    text-align: center;
    padding: 30px 10px;
    .title {
      margin: 10px auto;
      font-size: 24px;
      font-weight: 800;
      width: 318px;
    }
    .subtitle {
      font-size: 19px;
      font-weight: 500;
      margin: 10px 0;
    }
    .subText {
      font-size: 17px;
      font-weight: 400;
      margin: 18px 0;
      padding: 0 16px;
    }
    @media only screen and (max-width: 380px) {
      .mainImg {
        zoom: 0.8;
      }
    }
    &.toi {
      .mainImg {
        @extend .sprite;
        background-position: -393px -912px;
        width: 368px;
        height: 178px;
      }
    }
    &.timesprime {
      background-color: #2d0140;
      color: #fff;
      padding-bottom: 0;
      .mainImg {
        @extend .sprite;
        background-position: -775px -31px;
        width: 375px;
        height: 373px;
      }
      .headerImg {
        @extend .sprite;
        background-position: -775px -491px;
        width: 166px;
        height: 33px;
      }
    }
    &.docubay {
      background-color: #000;
      color: #fff;
      .mainImg {
        @extend .sprite;
        background-position: -775px -537px;
        width: 375px;
        height: 303px;
      }
      .headerImg {
        @extend .sprite;
        background-position: -390px -496px;
        width: 166px;
        height: 33px;
      }
    }
    &.exclusive_et {
      .mainImg {
        @extend .sprite;
        background-position: -390px 0;
        width: 375px;
        height: 480px;
      }
    }
    &.srplus {
      .mainImg {
        @extend .sprite;
        background-position: -397px -543px;
        width: 366px;
        height: 299px;
      }
    }
    &.stockAnalyzer {
      background-color: #fff1ed;
      .mainImg {
        @extend .sprite;
        background-position: -17px -29px;
        width: 375px;
        height: 522px;
      }
    }
    &.wealthedition {
      background-color: #f6fff0;
      .headerImg {
        @extend .sprite;
        background-position: -775px -455px;
        width: 240px;
        height: 28px;
      }
      .mainImg {
        @extend .sprite;
        background-position: -1162px -302px;
        width: 370px;
        height: 278px;
      }
    }
    &.bigbull {
      .headerImg {
        @extend .sprite;
        background-position: -1161px -825px;
        width: 211px;
        height: 44px;
      }
      .mainImg {
        @extend .sprite;
        background-position: -1174px -9px;
        width: 349px;
        height: 235px;
      }
    }
    &.epaper {
      background-color: #fff1ed;
      .headerImg {
        @extend .sprite;
        background-position: -1383px -827px;
        width: 116px;
        height: 33px;
      }
      .mainImg {
        @extend .sprite;
        background-position: -1160px -593px;
        width: 375px;
        height: 217px;
      }
    }
    &.cleanexperience {
      background-color: #fff8f6;
      .mainImg {
        @extend .sprite;
        background-position: -5px -913px;
        width: 375px;
        height: 215px;
      }
    }
    &.deepstories {
      .mainImg {
        @extend .sprite;
        background-position: -13px -546px;
        width: 360px;
        height: 349px;
      }
    }
  }
}
