@import "../../styles/variables.scss";
.listing {
  h2 {
    padding: 0.5rem 0 0 15px;
    font-size: 1.15rem;
    font-weight: 700;
  }
}
.videoSlider {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  ul {
    white-space: nowrap;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      width: 150px;
      position: relative;
      padding-bottom: 12px;
      white-space: normal;
      vertical-align: top;
      &:first-child {
        margin-left: 15px;
      }

      a {
        p {
          font-size: 0.9rem;
          width: 130px;
          line-height: 1.25rem;
        }

        .slideVidIcon {
          background-image: url($common-sprite-path);
          position: absolute;
          top: 30px;
          width: 42px;
          height: 42px;
          left: 45px;
          display: inline-block;
          cursor: pointer;
          background-position: -190px -160px;
          transform: scale(0.8);
        }
      }
    }
  }
}
