@import "styles/variables.scss";

.loginDetails {
  .primeUserLogo {
    margin-top: 4px;
    width: 55px;
    display: block;
  }
}
.user {
  position: sticky;
  top: 0;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  line-height: 15px;
  height: 72px;
  padding: 20px 20px;
  background-color: #f6f6f6;
  border: solid 1px #e6e6e6;

  .userName {
    float: left;
    line-height: 1.31em;
    position: relative;
    bottom: 3px;

    img {
      margin-top: 4px;
      width: 55px;
      display: block;
    }
  }

  .signIn {
    float: right;
    font-size: 13px;
    font-weight: normal;
    position: relative;
    bottom: 5px;
    text-align: center;

    .userIcon {
      background: url($header-footer-sprite);
      background-position: -231px -35px;
      background-repeat: no-repeat;
      height: 27px;
      width: 35px;
      background-size: 260px;
      display: inline-block;
    }
  }
}
