@import "../../styles/common.scss";

.videoshow {
  background: #ececec;
  padding-top: 10px;
  .wrap {
    padding: 1rem;

    .date {
      color: #727272;
      font-size: 0.95em;
    }
  }

  h1 {
    font-size: 1.35rem;
    font-weight: 700;
    line-height: 1.7rem;
  }

  .synopsis {
    line-height: 1.7rem;
  }
}
