@import "../../styles/common.scss";

.videoshow {
  background: #f0f0f0;
  margin-top: 10px;
  min-height: 500px;
  padding-bottom: 4px;
  .wrap {
    padding: 1rem;

    .date {
      color: #666;
      font-size: 0.95em;
    }
  }

  h1 {
    font-size: 1.35rem;
    font-weight: 700;
    line-height: 1.7rem;
  }

  .synopsis {
    p {
      font-size: 15px;
      line-height: 1.5rem;
    }
  }
}
